.inputs{
    display: flex;
    height: 756px;
    width: 700px;
    position: absolute;
    margin-left: 843px;
    margin-top: 100px;
    justify-content: center;
    border-style: solid;
    border-color: rgb(185, 183, 183);
    border-width: 0.5mm;
    flex-direction: column;

}

.intro1, .intro2{
    color: rgb(211, 99, 99);
    font-size: 1.3rem;
    margin: 50px;
    
}

.intro1{
    margin-top: -400px;
    margin-bottom: -40px;
}

.signup, .signup2{
    position: absolute;
    display: flex;
    height: 200px;
    width: 200px;
    margin-left: 60px;
    padding: 30px;
    font-size: 1.3rem;
    color: rgb(61, 122, 82);
 
}

button{
    position: absolute;
    margin-top: 250px;
}

.signup2{
    margin-left: 350px;
}


.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.lotus{
    height: 80px;
    width: 100px;
    margin-left: 430px;
    position: absolute;
    margin-top: -300px;
    filter: invert();
    
}

.logo{
    display: flex;
    background-color: rgba(85, 56, 63, 0.432);
    color: rgb(248, 229, 229);
    justify-content: center;
    width: 21vw;
    font-size: 4rem;
    position: absolute;
    margin-top: -300px;
    margin-left: 400px;
    padding: 20px;


}

#background{
    height: 80vh;
    width: 23vw;
    padding: 100px;
    margin-left: 300px;
 
}

.credit{
    display: flex;
    margin-left: 630px;
    margin-top: -150px;
    font-size: 0.9rem;
    color: rgb(59, 65, 59);
}

.screen{
    display: flex;
    background-color: rgb(104, 112, 112);
}

a:link{
    color: rgb(133, 66, 88);
}

a:visited{
    color: rgb(133, 66, 88);
}