.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.logo{
    display: flex;
    background-color: rgba(85, 56, 63, 0.432);
    color: rgb(248, 229, 229);
    justify-content: center;
    width: 21vw;
    font-size: 4rem;
    position: absolute;
    margin-top: -300px;
    margin-left: 400px;
    padding: 20px;


}

#background{
    height: 80vh;
    width: 23vw;
    padding: 100px;
    margin-left: 300px;
 
}

.credit{
    display: flex;
    margin-left: 630px;
    margin-top: -150px;
    font-size: 0.9rem;
    color: rgb(59, 65, 59);
}

.screen{
    display: flex;
    background-color: rgb(104, 112, 112);
}

a:link{
    color: rgb(133, 66, 88);
}

a:visited{
    color: rgb(133, 66, 88);
}